<extend name="Public:base"/>
<block name="title">
    <title>{$data.user_name}收藏的主题 - Airex</title>
</block>
<block name="css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/info.css">
</block>

<block name="page-main">


    <div class="col-sm-12 nav">
        <nav class="navbar navbar-default navbar-info">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{:U('User/Info',['member'=>I('get.member')])}">
                        <img class="img-circle" width="23" src="__PUBLIC__{$data.imgpath}"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active">
                            <a href="#">{$data.user_name} 收藏的主题</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="col-sm-12 theme-display">
        <ul class="list-group">

            <volist name="topics['lists']" id="topic" empty="暂未收藏任何主题">

                <li class="list-group-item">
					<span>
						<span><a href="{:U('topic/detail',array('tid'=>$topic['tid']))}">{$topic.title}</a></span>
						<br>
						<span class="label label-default location"><a
                                href="{:U('node/topics',array('node'=>$topic['node_name']))}">{$topic.node_name}</a></span>
						<span class="light-color">
							&nbsp;•&nbsp; <strong><a href="{:U('User/info',array('member'=>$topic['user_name']))}">{$topic.user_name}</a>
                            &nbsp;•&nbsp;</strong>
							{$topic.publish_time} &nbsp;<if condition="$topic.last_comment_user neq null">• &nbsp;最后回复来自&nbsp;
                            <a href="{:U('User/info',array('member'=>$topic['last_comment_user']))}"> <strong>{$topic.last_comment_user}</strong>
                            </a></if>
						</span>
					</span>

                    <a href="#">
                        <span class="badge">{$topic.comments}</span>
                    </a>
                </li>
            </volist>
        </ul>

    </div>


</block>

<block name="sidebar">

    <include file="Public:sidebar"/>

</block>

<block name="js">
    <script>
        $(document).ready(function () {
            $("ul li:eq(1)").addClass("nav-active");
        });
    </script>
</block>

